@import url("https://fonts.googleapis.com/css2?Roboto:wght@100;300;400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*$colors: (
    primary-color: #9356DC,
    secondary-color: #FF79DA,
    tertiary-color: #99E2D0,
    shadow-color: grey
);*/
@keyframes fadeIn {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(4%);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
}
header .header__arrow {
  margin-left: 30px;
  align-self: center;
  text-decoration: none;
  color: black;
}
header .header__logo {
  width: 200px;
  height: 40px;
  margin-left: 90px;
  margin-right: 80px;
  align-self: center;
}
header .header__logo--arrowed {
  margin: 0 80px 0 0;
}

.restaurant {
  width: 100%;
}
.restaurant__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: absolute;
}

.menu {
  margin-top: 175px;
  margin-bottom: 0;
  padding-top: 10px;
  position: relative;
  background: #f9f9f9;
  border-radius: 25px 25px 0 0;
}
.menu .flex-title {
  width: 90%;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.menu .flex-title__heading {
  font-family: "Shrikhand", sans-serif;
}
.menu .flex-title .card__desc-icon {
  margin-top: 30px;
  align-self: baseline;
}
.menu__heading {
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12pt;
}
.menu .item {
  margin: 10px 20px 50px 20px;
  margin-bottom: 10px;
  padding: 0 10px;
  background: white;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 5px 5px #e6e6e6;
  transform-origin: top;
  opacity: 0;
  transform: translateY(0);
  animation: fadeIn 1s forwards;
}
.menu .item--1 {
  animation-delay: 0.1111111111s;
}
.menu .item--2 {
  animation-delay: 0.2222222222s;
}
.menu .item--3 {
  animation-delay: 0.3333333333s;
}
.menu .item--4 {
  animation-delay: 0.4444444444s;
}
.menu .item--5 {
  animation-delay: 0.5555555556s;
}
.menu .item--6 {
  animation-delay: 0.6666666667s;
}
.menu .item--7 {
  animation-delay: 0.7777777778s;
}
.menu .item--8 {
  animation-delay: 0.8888888889s;
}
.menu .item--9 {
  animation-delay: 1s;
}
.menu .item__name {
  width: 100%;
  margin: 10px 0 0 0;
  font-weight: 500;
  font-size: 16px;
}
.menu .item__desc {
  width: 80%;
  flex-grow: 3;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  transition: width 0.3s;
}
.menu .item__price {
  width: 10%;
  margin-top: 10px;
  margin-right: -20px;
  flex-grow: 3;
  transform: translateX(-15px);
  font-weight: 500;
  font-size: 14px;
}
.menu .item:hover > .select {
  transform: scaleX(1);
}
.menu .item:hover > .select > .select__icon {
  transform: rotate(-1turn);
}
.menu .item:hover > .item__desc {
  width: 52%;
}
.menu .select {
  padding: 24px;
  margin-top: -100px;
  margin-left: 259px;
  align-self: flex-end;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  font-size: 14pt;
  color: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}
.menu .select__icon {
  transition: transform 350ms ease;
}

footer {
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 100%;
  background: #343434;
  color: white;
}

.footer__brand {
  font-family: "Shrikhand", sans-serif;
}
.footer-navbar {
  margin-left: -35px;
}
.footer-navbar__link {
  padding-bottom: 10px;
  list-style-type: none;
}
.footer-navbar__link--active {
  text-decoration: none;
  color: white;
}
.footer-navbar__icon {
  width: 5px;
  margin-right: 25px;
}

.location {
  width: 100%;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  background: #e6e6e6;
  position: relative;
}
.location__icon {
  margin-right: 10px;
}

.booking {
  width: 100%;
  margin-top: 0;
  padding: 10px;
  background: #f9f9f9;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.booking__heading {
  margin: 20px 50px 0 50px;
  font-weight: 400;
}

.howto {
  margin-left: 20px;
}
.howto__heading {
  font-weight: 400;
}
.howto__list {
  margin-left: -30px;
  list-style: none;
  counter-reset: li;
}
.howto__item--nolist {
  margin: 0 20px 20px 0;
  padding: 7vmin;
  counter-increment: li;
  background: #f9f9f9;
  border-radius: 15px;
  font-weight: 500;
  box-shadow: 0 5px 5px #e6e6e6;
}
@media screen and (min-width: 601px) {
  .howto__item--nolist {
    margin-right: 50px;
  }
}
.howto__item--nolist::before {
  margin: 0 30px 0 -38px;
  padding: 1vmin 2vmin;
  content: counter(li);
  background: #9356DC;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 9pt;
}
@media screen and (min-width: 601px) {
  .howto__item--nolist::before {
    margin-left: -55px;
  }
}
.howto__icon {
  width: 20px;
  margin-right: 20px;
  color: grey;
}

.cards {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  background: #f9f9f9;
}
.cards__heading {
  margin: 30px 0 10px 20px;
  font-weight: 400;
}

.card {
  margin-left: 20px;
}
.card__image {
  width: 105%;
  height: 150px;
  object-fit: cover;
  position: relative;
  border-radius: 20px 20px 0 0;
}
.card__link {
  text-decoration: none;
  color: black;
}
.card__new {
  margin-left: 270px;
  padding: 5px 10px;
  position: absolute;
  font-size: 10pt;
  font-weight: 900;
  background: #99E2D0;
  color: #2c9c81;
  border-radius: 2px;
  z-index: 1;
}
.card__desc {
  width: 105%;
  margin-top: -3px;
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 5px 5px #e6e6e6;
}
.card__desc-txt {
  margin-left: 10px;
  flex-direction: column;
}
.card__desc-heading {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 12pt;
}
.card__desc-location {
  margin-top: 0;
}

.booking__button {
  width: 70%;
  margin: 20px 0 20px 50px;
  padding: 1rem;
  text-decoration: none;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  box-shadow: 0 5px 5px #e6e6e6;
  font-size: 11pt;
}

.menu__border {
  height: 3px;
  width: 10vmin;
  margin-left: 20px;
  margin-bottom: 10px;
  background: #99E2D0;
}

.card__desc-icon {
  margin-top: 25px;
  margin-right: 20px;
  z-index: 1;
  position: relative;
  cursor: pointer;
}
.card__desc-icon::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  position: absolute;
  bottom: 26px;
  right: -0.8px;
  z-index: -1;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  transform-origin: bottom;
  transform: scale(0);
  transition: transform 0.6s, z-index 0.3s;
}
.card__desc-icon:hover::after {
  transform: scale(100%);
  z-index: 2;
}

/*# sourceMappingURL=style.css.map */
