.booking {
    width: $full-width;
    margin-top: 0;
    padding: 10px;
    background: map-get($colors, primary-background-color);
    text-align: center;
    display: map-get($display-content, display);
    flex-direction: map-get($display-content, direction );
    align-content: map-get($display-content, align);
    &__heading {
        margin: 20px 50px 0 50px;
        font-weight: $heading-font-weight;
    }
    @import './../components/button';
}