.location {
  width: $full-width;
  margin-bottom: 0;
  display: map-get($display-content, display);
  justify-content: map-get($display-content, justify);
  background: lighten($primary-background-color, 40%);
  position: relative;
  &__icon {
    margin-right: 10px;
  }
}

.booking {
  width: $full-width;
  margin-top: 0;
  padding: 10px;
  background: lighten($primary-background-color, 47.5%);
  text-align: center;
  display: map-get($display-content, display);
  flex-direction: map-get($display-content, direction);
  align-content: map-get($display-content, align);
  &__heading {
    margin: 20px 50px 0 50px;
    font-weight: $heading-font-weight;
  }
}

.howto {
  margin-left: 20px;
  &__heading {
    font-weight: $heading-font-weight;
  }
  &__list {
    margin-left: -30px;
    list-style: none;
    counter-reset: li;
  }
  &__item {
    &--nolist {
      margin: 0 20px 20px 0;
      padding: 7vmin;
      counter-increment: li;
      background: lighten($primary-background-color, 47.5%);
      border-radius: 15px;
      font-weight: 500;
      @include shadow;
      @include tablet-responsive {
        margin-right: 50px;
      }
      &::before {
        margin: 0 30px 0 -38px;
        padding: 1vmin 2vmin;
        content: counter(li);
        background: $primary-color;
        border-radius: 50%;
        text-align: center;
        @include white('color');
        font-size: 9pt;
        @include tablet-responsive {
          margin-left: -55px;
        }
      }
    }
  }
  &__icon {
    width: 20px;
    margin-right: 20px;
    color: $primary-background-color;
  }
}

.cards {
  width: $full-width;
  padding-top: 20px;
  padding-bottom: 30px;
  background: lighten($primary-background-color, 47.5%);
  &__heading {
    margin: 30px 0 10px 20px;
    font-weight: $heading-font-weight;
  }
}

.card {
  margin-left: 20px;
  &__image {
    width: 105%;
    height: 150px;
    object-fit: cover;
    position: relative;
    border-radius: 20px 20px 0 0;
  }

  &__link {
    text-decoration: none;
    color: black;
  }

  &__new {
    margin-left: 270px;
    padding: 5px 10px;
    position: absolute;
    font-size: $tiertiary-font-size;
    font-weight: 900;
    background: $tertiary-color;
    color: darken($tertiary-color, 35%);
    border-radius: 2px;
    z-index: 1;
  }

  &__desc {
    width: 105%;
    margin-top: -3px;
    display: flex;
    justify-content: space-between;
    @include white('background');
    border-radius: 0 0 20px 20px;
    @include shadow;

    &-txt {
      margin-left: 10px;
      flex-direction: column;
    }

    &-heading {
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 12pt;
    }

    &-location {
      margin-top: 0;
    }
  }
}
