//------ FADE-IN EFFECT KEYFRAME ------
@keyframes fadeIn {
  from {
    transform: translateY(0);
    opacity: 0;
  }

  to {
    transform: translateY(4%);
    opacity: 1;
  }
}

//------ LOADER KEYFRAMES ------
@keyframes bars {
  0% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}
