//------ COLOR VARIABLES ------
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$primary-background-color: grey;

//------ LOADER VARIABLES ------
$size: 3vh;
$anim-duration: 1.5s;
$num-bars: 5;
$anim-delay: math.div($anim-duration, $num-bars);
$loader-background-duration: 4s;

$shadow: (
  size: 5px,
  position: 0,
  color: $primary-background-color,
);

$breakpoints: (
  tablet: 601px,
  intermediate: 905px,
  desktop: 971px,
);

$display-content: (
  display: flex,
  justify: center,
  align: center,
  direction: column,
);

$heading-font-weight: 400;
$tiertiary-font-weigth: 500;

$primary-width: 100vw;
$full-width: 100%;
$tiertiary-font-size: 10pt;
$primary-font: 'Roboto', sans-serif;
$menu-heading-font: 'Shrikhand', sans-serif;

//------ MENU FADE IN EFFECT VARIABLES ------
$item-count: 9;
$animation-duration: 1s;
$animation-delay: math.div($animation-duration, $item-count);
