//------ COLOR VARIABLES ------
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$primary-background-color: grey;

//------ LOADER VARIABLES ------
$size: 3vh;
$anim-duration: 1000ms;
$num-bars: 5;
$anim-delay: $anim-duration / $num-bars;

$shadow: (
  size: 5px,
  position: 0,
  color: $primary-background-color,
);

$breakpoints: (
  tablet: 601px,
);

$display-content: (
  display: flex,
  justify: center,
  align: center,
  direction: column,
);

$heading-font-weight: 400;
$tiertiary-font-weigth: 500;

$full-width: 100%;
$tiertiary-font-size: 10pt;
$primary-font: 'Roboto', sans-serif;
$menu-heading-font: 'Shrikhand', sans-serif;

//------ MENU FADE IN EFFECT VARIABLES ------
$item-count: 9;
$animation-duration: 1s;
$animation-delay: math.div($animation-duration, $item-count);
