.booking__button {
  width: fit-content;
  margin: auto;
  padding: 1rem;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  @include white('color');
  @include gradient-color;
  border-radius: 25px;
  box-shadow: 0 5px 5px lighten($primary-background-color, 15%);
  transition: box-shadow 150ms ease;
  font-size: 11pt;

  &:hover {
    background: linear-gradient(
      lighten($secondary-color, 5%),
      lighten($primary-color, 5%)
    );
    box-shadow: 10px 5px 5px lighten($primary-background-color, 15%);
  }
}
