.booking__button {
  width: fit-content;
  margin: auto;
  padding: 1rem;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  @include white('color');
  @include gradient-color;
  border-radius: 25px;
  @include shadow;
  font-size: 11pt;
}
