.select {
  padding: 29px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 70vw;
  border-radius: 0 15px 15px 0;
  background: $tertiary-color;
  position: absolute;
  @include white('color');
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform-origin: right;
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;

  @include tablet-responsive {
    left: 180px;
    padding: 20px;
  }

  @include desktop-responsive {
    left: 235px;
    padding: 25px;
  }

  &__icon {
    transition: transform 400ms ease;
    -webkit-transition: transform 400ms ease;
    -moz-transition: transform 400ms ease;
  }
}
