.select {
  padding: 25px;
  right: 0;
  background: $tertiary-color;
  border-radius: 0 15px 15px 0;
  position: absolute;
  @include white('color');
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform-origin: right;
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;


  @include tablet-responsive {
    padding: 20px;
  }

  @include desktop-responsive {
    padding: 23px;
  }

  &__icon {
    transition: transform 400ms ease;
    -webkit-transition: transform 400ms ease;
    -moz-transition: transform 400ms ease;
  }
}
