.loader {
  width: 100%;
  //height: 331%;
  height: 640px;
  position: fixed;
  display: flex;
  justify-content: center;
  @include white;
  animation: loader $loader-background-duration both;
  -webkit-animation: loader $loader-background-duration both;
  -moz-animation: loader $loader-background-duration both;
  z-index: 2;
}
.load {
  width: $size * 10;
  height: $size * 10;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: space-evenly;
  &__bar {
    background: linear-gradient($primary-color, $secondary-color);
    height: 100%;
    width: $size;
    animation: bars $anim-duration both 2 alternate ease-in-out;
    -webkit-animation: bars $anim-duration both 2 alternate ease-in-out;
    -moz-animation: bars $anim-duration both 2 alternate ease-in-out;
    z-index: 1;
    @for $i from 1 through $num-bars {
      &--#{$i} {
        animation-delay: $anim-delay * $i;
        -webkit-animation-delay: $anim-delay * $i;
        -moz-animation-delay: $anim-delay * $i;
      }

      &--1,
      &--3,
      &--5 {
        transform-origin: top;
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
      }

      &--2,
      &--4 {
        transform-origin: bottom;
        -webkit-transform-origin: bottom;
        -moz-transform-origin: bottom;
      }
    }
  }
}
